/* color veriable */
$brand_color:#0070c0;
$white:#ffffff;
$off_white:#f2f2f2;
$black:black;
$deep_red:#c01d2e;
$light_red:#ff0000;
$footer_off_white:#ffffffc4;
$green:#009245;

/* dark_mode_color */


$font_Thin:'Roboto-Thin';
$font_Light:'Roboto-Light';
$font_Regular:'Roboto-Regular';
$font_Medium:'Roboto-Medium'; 
$font_Bold:'Roboto-Bold'; 
$font_Black:'Roboto-Black';



$font_bangla:'bangla-font';
/* border */
$border: 0px solid red;
