// banner_area start
.banner_area {
    border: $border;
    margin-top: 30px;
    position: relative;
    align-items: center;
    display: flex;
    // social_media_area start
    .social_media_area{
        border: $border;
        background-color: $deep_red;
        display: inline-block;
        padding: 30px 10px 30px 5px;
        border-radius: 0px 18px 18px 0px;
        position: absolute;
        left: 0px;
        position: fixed;
        top: calc(50vh - 108px);
        z-index: 9;

        ul{
            border: $border;
            gap: 12px;
            display: grid;
        
            li{
                border: $border;
                .social_media{
                    border: $border;
                    width: 30px;
                    height: 30px;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    &:hover{
                        i{
                            color: $brand_color;
                        }
                    }
                
                    i{
                        border: $border;
                        font-size: 20px;
                        color: $white;
                        transition-duration: .4s;
                    }
                }
            }
        }
    }
    // social_media_area end
    .banner_area_content {
        border: $border;
        background-color: $off_white;
        border-radius: 30px;
        .banner_area_item_content {
            border: $border;
            background-repeat: no-repeat;
            background-position: bottom right;
            // height: calc(100vh - 200px);
            min-height: 550px;
            align-items: center;
            display: flex;
        
            @include xs{
                // height: calc(100vh - -30px);
                min-height: 630px;
            }
            @include sm{
                height: calc(100vh - 0px);
            }
            @include md{
                height: calc(100vh - 80px);
            }
            .banner_area_all_item {
                border: $border;
                align-items: center;
                display: flex;
                height: 100%;
                @include xs{
                    align-items: unset;
                }
                @include sm{
                    align-items: unset;
                }
                @include md{
                    align-items: unset;
                }
                .left_area {
                    border: $border;
                    padding-left: 60px;
                    width: 740px;
                    @include xs{
                       padding-top: 40px;
                    }
                    @include sm{
                       padding-top: 50px;
                    }
                    @include md{
                       padding-top: 80px;
                    }
                    @include lg{
                       width: 450px;
                    }
                    .title_text_area {
                        border: $border;
                        .title_text {
                            border: $border;
                            // font-family: $font_Bold;
                            font-family: $font_Black;
                            font-weight: 600;
                            font-size: 30px;
                            color: $black;
                            @include xs{
                                font-size: 22px;
                            }
                            @include sm{
                                font-size: 22px;
                            }
                            @include md{
                                font-size: 28px;
                            }
                            @include lg{
                                font-size: 28px;
                            }
                            .color_text{
                                color: $light_red;
                            }
                        }
                    }
                    .discription_text_area {
                        border: $border;
                        margin-top: 20px;

                        .discription_text {
                            border: $border;
                            font-family: $font_Bold;
                            font-weight: 600;
                            font-size: 15px;
                            color: $black;
                            line-height: 27px;

                        }
                    }
                }
            }
        }
    }
}
// banner_area end
